/* pc */
@media (min-width: 992px) {
  .mobile-header {
    display: none;
  }
}

/* tablet & mobile */
/* tối đa 991.98 thì áp dùng tablet và mobile */
@media (max-width: 991.98px) {
  /* 1. ẩn navbar trên tablet và mobile */
  .navbar {
    display: none;
  }

  /* 2. chuyển logo vào giữa */
  .header-top {
    position: relative;
  }
  .header__logo {
    position: absolute;
    left: 50%;
    translate: -50% -50%;
  }

  /* 3. căn lại vị trí menu icon */
  .header-menu__icon {
    /* nếu không có tổ tiên position:absolute thì phần tử được định vị theo góc trên cùng */
    position: absolute;
    top: 36px;
    left: 19px;
    color: white;
    width: 27px;
    height: 27px;
    cursor: pointer;
  }

  /* 4. tạo lớp phủ overlay */
  .menu-overlay {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.3);
    inset: 0;
    z-index: 1;
    /* bình thường sẽ ẩn đi */
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
  }

  /* 5.nếu checkbox được check thì hiện menu */
  .menu-checkbox:checked ~ .menu-overlay {
    opacity: 1;
    visibility: visible;
  }

  /* 6. code  cho menu-drawer */
  .menu-drawer {
    background-color: #2e1919;
    position: fixed;
    inset: 0 40% 0 0;
    transform: translate(-100%);
    z-index: 2;
    transition: 0.25s;
    padding: 60px;
  }

  /* 7. nếu checkbox được check thì menu-drawer hoạt động */
  .menu-checkbox:checked ~ .menu-drawer {
    transform: translate(0);
  }

  /* 8. menu top */
  .close__menu {
    width: 24px;
    color: white;
  }
  .menu-drawer__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  #navbar__list--mobile {
    margin-top: 25px;
  }
  .navbar__link {
    display: block;
    font-size: 2rem;
  }
  .navbar__link:hover {
    background-color: #00ffff37;
  }

  /* 9. khỐi hero */
  .hero {
    flex-direction: column-reverse;
    row-gap: 50px;
  }
  .hero__content {
    width: 80%;
    text-align: center;
    margin: 22px 0;
  }
  .hero__row {
    justify-content: center;
  }
  /* 10. service */
  .service__row {
    flex-direction: column;
    row-gap: 20px;
  }
  .service__list {
    text-align: center;
  }
  /* .service__img{
    width: 100%;
  } */
  .service-item {
    width: 90%;
    text-align: start;
  }

  /* 11. work */
  .work__list {
    grid-template-columns: 1fr;
    column-gap: 30px;
  }

  /* 12. about */
  .about__row {
    flex-direction: column;
    row-gap: 30px;
  }
  .about__img--small {
    display: none;
  }
  .about__img--big {
    width: 100%;
    border-radius: 15px;
    margin: 15px auto;
  }
  .about-content {
    width: 90%;
    text-align: center;
  }

  /* 13.team */
  .team__list {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 30px;
  }
  .team-item__thumb {
    margin: 0 auto;
  }

/* 14. install */
  .install__img {
    display: none;
  }
  .install__content{
    width: 90%;
    margin: 0  auto;
  }
}

/* tablet */
@media (min-width: 768px) and (max-width: 991.98px) {
}

/* mobile */
@media (max-width: 767.98px) {
}

/* tạm ẩn phần không liên quan */
/* .hero, */
.footer {
  display: none;
}
